<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>게시판</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BackEnd</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a href="/post"><span>Post</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post">게시판 목록</a></li>
              {% if user.is_authenticated %}
                <li><a href="/post/posting">게시물 작성</a></li>
              {% endif %}
            </ul>
          </li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="get-a-quote">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="short-page-header d-flex align-items-center">
        <div class="container position-relative">
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/post">게시글 목록</a></li>
            <li>{{post.post_title}}</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
            <table id="bd-table">
                
                <tr style="border-bottom: 1px solid #ccc;">
                <td style="background-color:#f3f6fc; height: 50px; width: 20%; padding: 20px; text-align: center;">제목</td>
                <td>
                    <div class="title">
                    <dd><p style="text-align: left; margin-left: 4%; margin-top: 4%;">{{post.post_title}}</p></dd>
                    </div>
                </td>
                </tr>

                <tr style="border-bottom: 1px solid #ccc;">
                    <td style="background-color: #f3f6fc; padding: 20px; text-align: center;">작성일</td>
                    <td style="width: 10%;"><p style="text-align: left; margin-left: 4%; margin-top: 4%;">{{post.created_at|date:"Y. m. d. H시 i분"}}</p></td>
                    <td style="background-color:#f3f6fc; padding: 20px; text-align: center;">작성자</td>
                    <td><p style="text-align: left; margin-left: 10%; margin-top: 11%;">{{post.author}}</p></td>
                </tr>       
            
            
                <tr style="border-bottom: 1px solid #ccc;">
                    <td rowspan="2" style="background-color:#f3f6fc; padding: 25px; text-align:center; vertical-align: top;">신고 내용</td>
                    <td>
                      <p style="text-align: left; margin-left: 4%; margin-top: 4%; margin-bottom: 0; width: 150%;
                      height: 100px; padding: 12px; background-color:#f1f3f7e6;">{{post.post_content}}</p>
                    </td> 
                </tr>
            </table>

            <div class="btn-back">
              <button type="button" class="btn-btn" onclick="location.href='/post';" style="color:white; margin-left:40%; box-shadow: 2px 2px 2px #dedede;">이전 페이지로</button>
              {% if request.user == post.author %}
                <button type="button" class="btn-s" onclick="confirmDelete({{ post.id }})" style="color:white; color:white; box-shadow: 2px 2px 2px #dedede;">게시물 삭제</button>
                <button type="button" class="btn-s" onclick="location.href='/post/edit/{{post.id}}/';" style="color:white; box-shadow: 2px 2px 2px #dedede;">게시물 수정</button>

              {% endif %}
            </div>

            
            <script>
                function confirmDelete(postId) {
                    if (confirm('정말로 이 글을 삭제하시겠습니까?')) {
                        $.ajax({
                            url: '/post/post/delete/' + postId + '/',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(result) {
                                if (result.success) {
                                    alert('게시물이 삭제되었습니다.');
                                    window.location.href = "{% url 'post:post' %}";
                                } else {
                                    alert('오류가 발생했습니다.');
                                }
                            }
                            
                        });
                    }
                  
                  }
                
            </script>

        </div>
    </section>

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

      <div class="container mt-4">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved.
        </div>
      </div>

    </footer>
    <!-- End Footer -->

    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  
    <script src="{%static 'assets/vendor/bootstrap/js/jquery.dataTables.min.js' %}"></script>
    <script src="{%static 'assets/vendor/bootstrap/js/dataTables.bootstrap5.min.js' %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{%static 'assets/js/main.js' %}"></script>
    </body>
        
</html>
